<html>
<body>
  <table>
    <th>
      <td>Name</td>
      <td>Email</td>
      <td>Position</td>
    </th>
    <tr>
    {{.range}}
      <td>{{.Name}}</td>
      <td>{{.Email}}</td>
      <td>{{.Position}}</td>
    {{end}}
    </tr>
  </table>
</body>
</html>

